{% if GOOGLE_ANALYTICS %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6RB70N3P5V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{GOOGLE_ANALYTICS}}');
</script>
{% endif %}


{% if PLAUSIBLE_ANALYTICS %}
<script defer data-domain="{{ PLAUSIBLE_ANALYTICS }}" src="https://plausible.io/js/script.js"></script>
{% endif %}

<script data-goatcounter="https://goatcounter.fly.dev/count" async src="//goatcounter.fly.dev/count.js"></script>
