@import url("fonts.css");
@import url("pygments.css");
@import url("vanilla.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
}

code, pre {
  font-family: 'Iosevka Term', Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
