@import url("fonts.css");
@import url("pygments.css");
@import url("vanilla.css");

body {
  font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
}

code, pre {
  font-family: 'Iosevka Term', monospace;
}
